<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>컴퓨티드 레인지 슬라이드</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="range" v-model="R" max="255">
        <input type="range" v-model="G" max="255">
        <input type="range" v-model="B" max="255">
        <p :style="{color:mixedColor}">텍스트</p>
    </div>
    <script>
        new Vue({
            el:'#app',
            data:{
                R:0,
                G:0,
                B:0
            },
            computed:{
                mixedColor:function(){
                    var ans = `RGB(${this.R},${this.G},${this.B})`;
                    return ans;
                }
            }
        })
    </script>
</body>
</html>