<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        .donestyle{
            text-decoration: line-through;
            color: lightgray;
        }
    </style>
</head>
<body>
    <h1>좀 더 좋아진 TODO 리스트</h1>
    <div id="app">
        <input type="text" placeholder="할일을 입력하고 Enter" @keyUp.enter="addTodo" v-model.trim="addText"> / <input type="text" placeholder="완료일" v-model="due">
        <div v-for="(todo, index) in todos">
            <label>
                <input type="checkbox" v-model="todo.done">
                <span :class="{donestyle:todo.done}">{{todo.text}} (완료일:{{todo.due}})</span>
                <button @click="extendDue(index)">완료일 연장</button>
            </label>
        </div>
        <p>{{remaining}} / {{todos.length}} 건 처리, {{end}} 마감일 지남.</p>
        <button @click="cleanTodo">완료건 삭제</button>
    </div>
    <script>
        var yyyy = new Date().getFullYear()+'';
        var mm = (new Date().getMonth()+1+'').padStart(2,0);
        var dd = (new Date().getDate()+1+'').padStart(2,0);
        var nextDay = yyyy+mm+dd;

        // @param date 날짜
        // @param days 더할 날짜
        

        function addDays(date, days) {
            var result = new Date(date);
            result.setDate(result.getDate() + days);
            return result;
        }

        function setDate (date, days) {
            var yyyy = date.getFullYear()+'';
            var mm = (date.getMonth()+1+'').padStart(2,0);
            var dd = (date.getDate()+1+'').padStart(2,0);
            return yyyy+mm+dd;
        }


        new Vue({
            el:'#app',
            data:{
                todos:[
                    {done:false,text:'빵사기',due:230519},
                    {done:false,text:'커피사기',due:230519},
                ],
                addText:'',
                due:''
            },
            computed:{
                remaining: function(){
                    return this.todos.filter(function(val){
                        return  val.done;
                    }).length;
                },
                dueDate:function(){
                    return this.due || this.setDue(this.getDue(),1);
                },
                end : function(){
                    return this.todos.filter(function(val){
                        var due = val.due + '';
                        due = '20' + due.slice(0,2) + '-' + due.slice(2,4) + '-' + due.slice(4,6);
                        due = new Date(due);
                        console.log(due)
                        var now = new Date();

                        return now > due;
                    }).length;
                }
            },
            methods:{
                addTodo:function(){
                    this.todos.push({done:false,text:this.addText,due:this.dueDate});
                },
                cleanTodo: function(){
                    this.todos = this.todos.filter(function(val){
                        return val.done == false;
                    });
                },
                getDue :function(){
                    var yyyy = (new Date().getFullYear()+'').padStart(4,20);
                    var mm = (new Date().getMonth()+1+'').padStart(2,0);
                    var dd = (new Date().getDate()+'').padStart(2,0);
                    return yyyy+'-'+mm+'-'+dd;
                },
                setDue :function(date,day){
                    date = new Date(date);
                    var yyyy = date.getFullYear()+'';
                    var mm = (date.getMonth()+1+'').padStart(2,0);
                    var dd = (date.getDate()+day+'').padStart(2,0);
                    return yyyy+mm+dd;
                },
                extendDue : function(index){
                    date = (this.todos[index].due) + '';
                    date = '20' + date.slice(0,2) + '-' + date.slice(2,4) + '-' + date.slice(4,6);
                    date = new Date(date);
                    var yyyy = date.getFullYear()+'';
                    var mm = (date.getMonth()+1+'').padStart(2,0);
                    var dd = (date.getDate()+1+'').padStart(2,0);
                    var due = yyyy+mm+dd;
                    // 20230500
                    due = due.substr(2,6);
                    this.todos[index].due = due; 
                }
            }
        })
    </script>
</body>
</html>